# Patterns using Incrementing Numbers

In [1]:
size=5
num=1
for i in range(1,size+1):
    for j in range(1,i+1):
        print(f"{num:2d}",end=" ")
        num+=1
    print()

 1
 2  3
 4  5  6
 7  8  9 10
11 12 13 14 15

In [2]:
size=5
num=1
for i in range(size,0,-1):
    for j in range(1,i+1):
        print(f"{num:2d}",end=" ")
        num+=1
    print()

 1  2  3  4  5
 6  7  8  9
10 11 12
13 14
15

In [22]:
size=5
num=1
for i in range(1,size+1):
    for j in range(1,i+1):
        print(f"{num:2d}",end=" ")
        num+=1
    print()
for i in range(size-1,0,-1):
    for j in range(1,i+1):
        print(f"{num:2d}",end=" ")
        num+=1
    print()

 1
 2  3
 4  5  6
 7  8  9 10
11 12 13 14 15
16 17 18 19
20 21 22
23 24
25

In [37]:
size=5
num=1
for i in range(size,0,-1):
    for j in range(1,i+1):
        print(f"{num:2d}",end=" ")
        num+=1
    print()
for i in range(2,size+1):
    for j in range(1,i+1):
        print(f"{num:2d}",end=" ")
        num+=1
    print()

 1  2  3  4  5
 6  7  8  9
10 11 12
13 14
15
16 17
18 19 20
21 22 23 24
25 26 27 28 29

In [28]:
size = 5
num = 1
for i in range(1, size + 1):
    # Print leading spaces for right alignment (3 spaces per missing column)
    print("   " * (size - i), end="")
    # Print numbers with consistent spacing
    for j in range(1,i+1):
        print(f"{num:2d} ", end="")  # :2d gives uniform width
        num += 1
    print()

             1
          2  3
       4  5  6
    7  8  9 10
11 12 13 14 15

In [9]:
size=5
num=1
for i in range(size,0,-1):
    print("   " * (size-i),end="")
    for j in range(1,i+1):
        print(f"{num:2d} ",end="")
        num+=1
    print()

 1  2  3  4  5
    6  7  8  9
      10 11 12
         13 14
            15

In [33]:
size=5
num=1
for i in range(1,size+1):
    print("   " * (size-i),end="")
    for j in range(1,i+1):
        print(f"{num:2d} ",end="")
        num+=1
    print()
for i in range(size-1,0,-1):
    print("   "*(size-i),end="")
    for j in range(1,i+1):
        print(f"{num:2d} ",end="")
        num+=1
    print()

             1
          2  3
       4  5  6
    7  8  9 10
11 12 13 14 15
   16 17 18 19
      20 21 22
         23 24
            25

In [ ]:
size=5
num=1
for i in range(size,0,-1):
    print("   "*(size-i),end="")
    for j in range(1,i+1):
        print(f"{num:2d} ",end="")
        num+=1
    print()    
for i in range(2,size+1):
    print("   "*(size-i),end="")
    for j in range(1,i+1):
        print(f"{num:2d} ",end="")
        num+=1
    print()

 1  2  3  4  5
    6  7  8  9
      10 11 12
         13 14
            15
         16 17
      18 19 20
   21 22 23 24
25 26 27 28 29

In [10]:
size=5
num=1
for i in range(1,size+1):
    for j in range(1,i+1):
        print(i,end=" ")
        num+=1
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [11]:
size=5
num=1
for i in range(size,0,-1):
    for j in range(1,i+1):
        print(i,end=" ")
        num+=1
    print("")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [3]:
size=5
num=1
for i in range(1,size+1):
    for j in range(1,i+1):
        print(i,end=" ")
        num+=1
    print("")   
for i in range(size-1,0,-1):
    for j in range(1,i+1):
        print(i,end=" ")
        num+=1
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [12]:
size=5
num=1
for i in range(size,0,-1):
    for j in range(1,i+1):
        print(i,end=" ") 
        num+=1
    print(" ")    
for i in range(2,size+1):
    for j in range(1,i+1):
        print(i,end=" ")
        num+=1
    print(" ")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [31]:
size=5
num=1
for i in range(1,size+1):
    print("  "*(size-i),end="")
    for j in range(1,i+1):
        print(f"{i:2d}",end="")
        num+=1
    print()

         1
       2 2
     3 3 3
   4 4 4 4
 5 5 5 5 5

In [35]:
size=5
num=1
for i in range(size,0,-1):
    print("  "*(size-i),end="")
    for j in range(1,i+1):
        print(f"{i:2d}",end="")
        num+=1
    print()

 5 5 5 5 5
   4 4 4 4
     3 3 3
       2 2
         1

In [43]:
size=5
num=1
for i in range(1,size+1):
    print("  "*(size-i),end="")
    for j in range(1,i+1):
        print(f"{i:2d}",end="")
        num+=1
    print()
for i in range(size-1,0,-1):
    print("  "*(size-i),end="")
    for j in range(1,i+1):
        print(f"{i:2d}",end="")
        num+=1
    print()

         1
       2 2
     3 3 3
   4 4 4 4
 5 5 5 5 5
   4 4 4 4
     3 3 3
       2 2
         1

In [44]:
size=5
num=1
for i in range(size,0,-1):
    print("  "*(size-i),end="")
    for j in range(1,i+1):
        print(f"{i:2d}",end="")
        num+=1
    print()
for i in range(2,size+1):
    print("  "*(size-i),end="")
    for j in range(1,i+1):
        print(f"{i:2d}",end="")
        num+=1
    print()

 5 5 5 5 5
   4 4 4 4
     3 3 3
       2 2
         1
       2 2
     3 3 3
   4 4 4 4
 5 5 5 5 5

In [12]:
size=5
num=1
for i in range(1,size+1):
    for j in range(1,i+1):
        print(j,end=" ")
        num+=1
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [13]:
size=5
num=1
for i in range(size,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
        num+=1
    print("")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [14]:
size=5
num=1
for i in range(1,size+1):
    for j in range(1,i+1):
        print(j,end=" ")
        num+=1
    print(" ")    
for i in range(size-1,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
        num+=1
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [17]:
size=5
num=1
for i in range(size,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
        num+=1
    print(" ")    
for i in range(2,size+1):
    for j in range(1,i+1):
        print(j,end=" ")
        num+=1
    print(" ")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [36]:
size=5
num=1
for i in range(1,size+1):
    print("  "*(size-i),end="")
    for j in range(1,i+1):
        print(f"{num:2d}  ",end="")     
        num+=1
    print()

         1
       2   3
     4   5   6
   7   8   9  10
11  12  13  14  15

In [39]:
size=5
num=1
for i in range(size,0,-1):
    print("  "*(size-i),end="")
    for j in range(1,i+1):
        print(f"{num:2d}  ",end="")
        num+=1
    print()

 1   2   3   4   5
   6   7   8   9
    10  11  12
      13  14
        15

In [40]:
size=5
num=1
for i in range(1,size+1):
    print("  "*(size-i),end="")
    for j in range(1,i+1):
        print(f"{num:2d}  ",end="")
        num+=1
    print(" ")    
for i in range(size-1,0,-1):
    print("  "*(size-i),end="")
    for j in range(1,i+1):
        print(f"{num:2d}  ",end="")
        num+=1
    print()

         1
       2   3
     4   5   6
   7   8   9  10
11  12  13  14  15
  16  17  18  19
    20  21  22
      23  24
        25

In [41]:
size=5
num=1
for i in range(size,0,-1):
    print("  "*(size-i),end="")
    for j in range(1,i+1):
        print(f"{num:2d}  ",end="")
        num+=1
    print()
for i in range(2,size+1):
    print("  "*(size-i),end="")
    for j in range(1,i+1):
        print(f"{num:2d}  ",end="")
        num+=1
    print()

 1   2   3   4   5
   6   7   8   9
    10  11  12
      13  14
        15
      16  17
    18  19  20
  21  22  23  24
25  26  27  28  29